@{
    ViewData["Title"] = "Home Page";
}



<div class="row"> 
  
    <div class="col-md-3">
        <h2>
            Welcome to GC Coffee Shop!
            <a asp-controller="Home" asp-action="Registration">Register User</a><br />
            <a asp-controller="UserItems" asp-action="UserItemsView">Register Items</a>
        </h2>
    </div>
   
</div>
